html, body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
img {
	display: inline-block;
}
a {
	transition: 0.2s;
}

.header {
	background: #2f2f71;
	background-image: url(../Img/emile-perron-190221-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	height: 100vh;
	color: #fff;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-height: 800px;
}
.headerTitle {
	margin-top: -50px;
	margin-bottom: 30px;
	font-size: 56px;
	font-family: 'Merriweather', serif;
}
.headerSlogan {
	font-size: 18px;
	line-height: 42px;
}
.headerArrow {
	font-size: 48px;
	height: 50px;
	width: 60px;
	margin-left: -30px;
	position: absolute;
	bottom: 50px;
	left: 50%;
}
.container {
	width: 1140px;
	margin: auto;
}
.portfolio {
	padding-top: 70px;
	padding-bottom: 500px;
}
.title {
	font-family: 'Merriwather', serif;
    text-align: center;
    font-weight: 600;		
    font-size: 46px;
    padding-bottom: 30px;
}
.row {
	margin: auto;
}
.col-4 {
	width: 360px;
	float: left;
	padding-bottom: 50px;
	margin-right: 27px;
}
.col-4:last-child {
	margin-right: 0px;
}
.colItems {
	border: 1px solid gray;
	border-radius: 5px;
	overflow: hidden;
}
.colImg {
	height: 240px;
	width: 360px;
	margin-bottom: 17px;
	overflow: hidden;
}
.colImg img {
	height: 240px;
	width: 360px;
}
.colTitle {
	font-weight: 500;
	font-size: 24px;
	line-height: normal;
	margin-bottom: 10px;
	margin-left: 15px;
}
.colTitle a {
	text-decoration: none;
	color: #000;
}
.colTitle a:hover {
	color: #0052C2;
	border-bottom: 1px solid rgba(0, 82, 194, 0.3);
}
.colText {
	margin-left: 15px;
	font-size: 16px;
	line-height: 1.5;
	padding-bottom: 30px;
}

.footer {
	background: #061634;
	color: #6479a2;
	padding-top: 90px;
	padding-bottom: 190px;
}
.footer p{
	margin-bottom: 15px;
	margin-top: 0px;
}

p.footerName {
	font-size: 28px;
	margin-bottom: 10px;
	line-height: normal;
	font-family: 'Merriweather', serif;
}

p.footerSocial {
	color: #fff;
}

p.footerSocialIcons {
	color: #fff;
	font-size: 32px;
}

p.footerSocialIcons a {
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
}
p.footerSocialIcons a:last-child{
	margin-right: none;
}
p.footerSocialIcons a:hover{
	color: #FFE400
}

.button {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	font-weight: 700;
	display: inline-block;
	border-width: 2px;
	border-color: #fff;
	border-style: solid;
	border-radius: 50px;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-right: 23px;
	padding-left: 23px;
	margin-bottom: 13px;
	transition: 0.2s;
}
.button:hover {
	color: #061634;
	background: #fff;
}

@media (max-width: 1140px) {
	.container {
		width: 100%;
	}
	.col-4 {
		float: unset;
		margin: auto;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
	.col-4:last-child {
		margin: auto;
	}
	.portfolio {
		padding-bottom: 200px;
	}
	.footer {
		padding-bottom: 75px;
	}
}
